

{{!-- below is working --}}
{{#each songs}}
    <div>
    	<h3>
    	{{title}}
    	</h3>
    </div>
    <div>{{info.artist}}</div>
    <div>On the Album:  {{info.album}}</div>
  {{/each}}




{{!-- ============================= --}}
 
{{!-- l's example

{{#each songs}}
  <div class='fun_stuff' id='song'><span class='song-header'>{{title}}</span><ul><li>{{artist}} |</li><li>| {{album}}</li></ul><button class='button_delete'>Delete!</button></div>
{{/each}} --}}


{{!-- =====================
 --}}