

{{!-- below is working --}}
<div class="">
{{#each songs}}
    <div>
    	<h3>
    	{{title}}
    	</h3>
    </div>
    {{!-- if you take info out the correct information will populate for the songs added.  Just not for the original populate songs --}}
    <div>{{info.artist}}</div>
    <div>On the Album:  {{info.album}}</div>
    <div class = "row">
    	<div class ="col-sm-12">
    		<a href="#" id="edit#{{key}}">Delete</a>
    		</div>
    	</div>
    </div>	
  {{/each}}
  </div>




{{!-- ============================= --}}
 
{{!-- l's example

{{#each songs}}
  <div class='fun_stuff' id='song'><span class='song-header'>{{title}}</span><ul><li>{{artist}} |</li><li>| {{album}}</li></ul><button class='button_delete'>Delete!</button></div>
{{/each}} --}}


{{!-- =====================
 --}}

